name: deploy-to-aws
run-name: Deploying ${{ github.ref }}
on:
  push:
    branches:
      - "main"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v6
        with:
          ref: "main"

      - name: Confirm checkout
        run: echo "checked out main!"

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 'latest'
      
      - name: Build
        run: |
          npm ci
          npm run build

